::ng-deep timepicker table {
    margin: 0 auto;
}

::ng-deep .bs-timepicker-field {
    background-color: grey;
    color: white;
    border-width: 0;
    font-weight: bold;
    /* box-shadow: inset 0 0 10px #000000; */
}

.slider-container,
.date-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}