<div class="col slider-container">
    <slider [(inputModel)]="day.active"></slider>
</div>

<div class="col date-container">
    <div>{{day.date | date}}</div>
</div>

<div class="col weekday-container">
    <div>{{day.date | date:'EEEE'}}</div>
</div>

<timepicker class="col" [(ngModel)]="day.start" [showMeridian]="false" [showSpinners]="false" [minuteStep]="1" [mousewheel]="false"></timepicker>
<timepicker class="col" [(ngModel)]="day.end" [showMeridian]="false" [showSpinners]="false" [minuteStep]="1" [mousewheel]="false"></timepicker>
<timepicker class="col" [(ngModel)]="day.break" [showMeridian]="false" [showSpinners]="false" [minuteStep]="1" [mousewheel]="false"></timepicker>
<timepicker class="col" [(ngModel)]="day.actualworktime" [showMeridian]="false" [showSpinners]="false" [minuteStep]="1" [mousewheel]="false"></timepicker>
<timepicker class="col" [(ngModel)]="day.targetworktime" [showMeridian]="false" [showSpinners]="false" [minuteStep]="1" [mousewheel]="false"></timepicker>

<!-- <div class="row">
        <div class="col">{{day.active}}</div>
        <div class="col">{{day.date | date}}</div>
        <div class="col">{{day.start | date:'HH:mm'}}</div>
        <div class="col">{{day.end | date:'HH:mm'}}</div>
        <div class="col">{{day.break | date:'HH:mm'}}</div>
        <div class="col">{{day.actualworktime | date:'HH:mm'}}</div>
        <div class="col">{{day.targetworktime | date:'HH:mm'}}</div>
    </div> -->