h1 {
    text-align: center;
    width: 100%;
}

.main-container {
    padding: 25px;
}

.month-info {
    padding-bottom: 50px;
    transition: none !important;
}

visible-toggle {
    padding: auto;
    text-align: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.month-info-sticky {
    margin-bottom: 70px !important;
}

.header-sticky {
    position: fixed;
    top: 25px;
    width: calc(100% - 25px * 2 - 3px);
    z-index: 1;
}

.dropdown {
    height: 40px;
    width: 100%;
    color: white;
    background-color: grey;
    border-width: 0;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
    outline: none;
}

.label-control-container div {
    margin-top: auto;
    text-align: left;
}

.label-control-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.label-control-container label {
    display: block;
}

#actualtime,
#actualmoney,
#targettime,
#targetmoney {
    font-size: x-large;
    color: #59f37d;
}

@media (min-width: 1200px) {
    .header-row *:not(:first-child) {
        border-left: 1px solid grey;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .header-row *:not(:nth-child(4n + 1)) {
        border-left: 1px solid grey;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .header-row *:nth-child(2n) {
        border-left: 1px solid grey;
    }
}