<div class="main-container">
    <div class="row month-info">
        <h1>Worktime Manager</h1>
        <select>
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
            <option value="4">May</option>
            <option value="5">June</option>
            <option value="6">July</option>
            <option value="7">August</option>
            <option value="8">September</option>
            <option value="9">November</option>
            <option value="10">October</option>
            <option value="11">December</option>
        </select>
        <visible-toggle [(isVisible)]="worktime.isExpand"></visible-toggle>
    </div>

    <div class="row text-center">
        <div class="col">Arbeiten</div>
        <div class="col header-border">Datum</div>
        <div class="col header-border">Wochentag</div>
        <div class="col header-border">Start</div>
        <div class="col header-border">Ende</div>
        <div class="col header-border">Pause</div>
        <div class="col header-border">Arbeitszeit Ist</div>
        <div class="col header-border">Arbeitszeit Soll</div>
    </div>

    <app-week *ngFor='let week of month.weeks' [(week)]="week"></app-week>
</div>