h1 {
    text-align: center;
    width: 100%;
}

.header-border {
    border-left: 1px solid grey;
}

.main-container {
    margin: 25px;
}

.dropdown {
    margin: 10px;
    height: 40px;
    color: white;
    background-color: grey;
    border-width: 0;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
    outline: none;
}