<div class="main-container">
    <div class="row month-info">
        <div class="label-control-container col-md-4 col-lg-1">
            <label for="visible">Show All</label>
            <visible-toggle id="visible" [(isVisible)]="worktime.isExpand"></visible-toggle>
        </div>

        <div class="label-control-container col-md-4 col-lg-2">
            <label for="year">Year</label>
            <select id="year" class="dropdown" [(ngModel)]="worktime.currentYear" (ngModelChange)="reloadWeeks()">
                <option *ngFor="let y of worktime.availableYears; let i = index" [ngValue]="worktime.availableYears[i]">{{y}}</option>
            </select>
        </div>

        <div class="label-control-container col-md-4 col-lg-2">
            <label for="month">Month</label>
            <select id="month" class="dropdown" [(ngModel)]="worktime.currentMonth" (ngModelChange)="reloadWeeks()">
                <option value="0">January</option>
                <option value="1">February</option>
                <option value="2">March</option>
                <option value="3">April</option>
                <option value="4">May</option>
                <option value="5">June</option>
                <option value="6">July</option>
                <option value="7">August</option>
                <option value="8">September</option>
                <option value="9">November</option>
                <option value="10">October</option>
                <option value="11">December</option>
            </select>
        </div>


        <div class="label-control-container col-md-3 offset-lg-3 col-lg-1">
            <label for="actualtime">Actual Time</label>
            <div id="actualtime">{{worktime.month.actualworktime.hours | number:'2.0'}}:{{worktime.month.actualworktime.minutes | number:'2.0'}}</div>
        </div>

        <div class="label-control-container col-md-3 col-lg-1">
            <label for="actualmoney">Actual Payoff</label>
            <div id="actualmoney">{{worktime.month.actualmoney | number:'0.2'}}€</div>
        </div>

        <div class="label-control-container col-md-3 col-lg-1">
            <label for="targettime">Target Time</label>
            <div id="targettime">{{worktime.month.targetworktime.hours | number:'2.0'}}:{{worktime.month.actualworktime.minutes | number:'2.0'}}</div>
        </div>

        <div class="label-control-container col-md-3 col-lg-1">
            <label for="targetmoney">Target Payoff</label>
            <div id="targetmoney">{{worktime.month.targetmoney | number:'0.2'}}€</div>
        </div>

    </div>


    <div class="header-row row text-center">
        <div class="col-sm-6 col-md-3 col-xl-1">Work</div>
        <div class="col-sm-6 col-md-3 col-xl-1">Date</div>
        <div class="col-sm-6 col-md-3 col-xl-1">Day</div>
        <div class="col-sm-6 col-md-3 col-xl">Start</div>
        <div class="col-sm-6 col-md-3 col-xl">End</div>
        <div class="col-sm-6 col-md-3 col-xl">Break</div>
        <div class="col-sm-6 col-md-3 col-xl">Actual Time</div>
        <div class="col-sm-6 col-md-3 col-xl">Target Time</div>
    </div>

    <app-week *ngFor='let w of worktime.month.weeks; let i = index' [(week)]="worktime.month.weeks[i]" (weekChanged)="changed()"></app-week>
</div>