<div class="main-container">
    <div class="row month-info">
        <visible-toggle [(isVisible)]="worktime.isExpand"></visible-toggle>
    </div>

    <div class="row text-center">
        <div class="col">Arbeiten</div>
        <div class="col header-border">Datum</div>
        <div class="col header-border">Wochentag</div>
        <div class="col header-border">Start</div>
        <div class="col header-border">Ende</div>
        <div class="col header-border">Pause</div>
        <div class="col header-border">Arbeitszeit Ist</div>
        <div class="col header-border">Arbeitszeit Soll</div>
    </div>

    <app-week *ngFor='let week of month.weeks' [(week)]="week"></app-week>
</div>