.not-visible {
    overflow: hidden;
    height: 0px !important;
    min-height: 0px !important;
    margin: 0px !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

.day-row {
    min-height: 60px;
}

.actual-day {
    border: 2px solid yellow;
}

.slider-container,
.date-container,
.weekday-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}