<div class="week-container">
    <app-day *ngFor='let day of week.days' [(day)]="day" (dayChanged)="changed()"></app-day>

    <div class="row text-center week-total">
        <div class="col">Woche</div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">{{week.actualworktime.hours | number:'2.0'}}:{{week.actualworktime.minutes | number:'2.0'}}</div>
        <div class="col">{{week.targetworktime.hours | number:'2.0'}}:{{week.targetworktime.minutes | number:'2.0'}}</div>
    </div>
</div>