<div class="week-container">
    <app-day *ngFor='let d of week.days; let i = index' [(day)]="week.days[i]" (dayChanged)="changed()"></app-day>

    <div *ngIf="week.active || worktime.isExpand" class="row text-center week-total">
        <div class="col-sm-12 col-md-6 col-xl-2 week-sum">Week Sum</div>
        <div class="col-xl-1 space-column"></div>
        <div class="col-xl space-column"></div>
        <div class="col-xl space-column"></div>
        <div class="col-xl space-column"></div>
        <div class="col-sm-6 col-md-3 col-xl sum">{{week.actualworktime.hours | number:'2.0'}}:{{week.actualworktime.minutes | number:'2.0'}}</div>
        <div class="col-sm-6 col-md-3 col-xl sum">{{week.targetworktime.hours | number:'2.0'}}:{{week.targetworktime.minutes | number:'2.0'}}</div>
    </div>
</div>