html,
body {
    background: #2f3136;
    color: white;
    font-weight: bold;
}

.day-row,
.week-total,
.month-info,
.header-row {
    transition: .6s ease-out;
    background-color: #36393f;
    box-shadow: 10px 10px 5px black;
    margin: 10px 0px 0px 0px !important;
    padding: 0 10px 10px 10px;
}

.day-row>*,
.week-total>*,
.month-info>*,
.header-row>* {
    margin-top: 10px;
}

.row .row {
    margin: 0px;
}


/* Begin Scrollbar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: grey;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: grey(0, 0, 0, 0.4);
}


/* End Scrollbar */


/* Begin material google font */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/MaterialIcons-Regular.ttf');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
/* End material google font */