* {
    user-select: none;
}

.title-bar {
    -webkit-app-region: drag;
    background: #242529;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    flex: 1;
    display: flex;
    justify-content: center;
    line-height: 32px;
    padding-left: 150px;
}

.button {
    -webkit-app-region: no-drag;
    cursor: pointer;
    padding: 5px 15px;
}

.button:hover {
    background-color: #54565f;
}

.close-button:hover {
    background-color: red;
}

.maximize-button {
    padding-top: 6px;
}

.maximize-button i {
    font-size: 23px !important;
}